Source: pm-utils
Section: admin
Priority: optional
Maintainer: Tim Dijkstra <tim@famdijkstra.org>
Uploaders: Michael Biebl <biebl@debian.org>, Martin Pitt <mpitt@debian.org>
Build-Depends: cdbs, debhelper (>= 7), xmlto
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/collab-maint/pm-utils.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/pm-utils.git
Homepage: http://pm-utils.freedesktop.org/

Package: pm-utils
Architecture: all
Depends: ${misc:Depends}, powermgmt-base
Recommends: vbetool, procps, hdparm, ethtool, kbd | console-tools
Suggests: cpufrequtils, wireless-tools, radeontool
Description: utilities and scripts for power management
 This package provides simple shell command line tools to suspend and
 hibernate your computer.
